@import "tailwindcss";
@import "tw-animate-css";

@import "./primitives.css";

@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@theme inline {
	--font-display: var(--font-display);
	--font-mono: var(--font-mono);

	--text-2xs: 0.625rem;

	--color-primary: var(--brand-500);
	--color-primary-foreground: var(--brand-100);
	--color-primary-secondary: var(--brand-400);

	--color-brand-secondary: var(--brand-secondary);
	--color-brand-secondary-400: var(--brand-secondary-400);

	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);

	--color-surface: var(--gray-200);
	--color-elevated: var(--gray-50);
	--color-floating: var(--white);

	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);

	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);

	--color-background: var(--gray-100);
	--color-foreground: var(--black);
	--color-surface: var(--gray-200);
	--color-elevated: var(--gray-50);
	--color-floating: var(--white);

	--color-muted: var(--gray-500);
	--color-muted-foreground: var(--gray-700);

	--color-ring: var(--ring);
	--color-input: var(--input);

	--color-border: var(--gray-400);
	--color-strong: var(--gray-500);
	--color-dashed: --alpha(var(--gray-500) / 0.35);

	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);

	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--radius-2xl: calc(var(--radius) + 8px);
	--radius-3xl: calc(var(--radius) + 12px);
	--radius-4xl: calc(var(--radius) + 16px);
	--radius-5xl: calc(var(--radius) + 32px);

	--shadow-button-primary: var(--button-primary);
	--shadow-button-neutral: var(--button-neutral);
	--shadow-sm: var(--shadow-sm);
	--shadow-lg: var(--shadow-lg);
	--shadow-dark: var(--shadow-dark);

	--color-brand-50: var(--brand-50);
	--color-brand-100: var(--brand-100);
	--color-brand-200: var(--brand-200);
	--color-brand-300: var(--brand-300);
	--color-brand-400: var(--brand-400);
	--color-brand-500: var(--brand-500);
	--color-brand-600: var(--brand-600);
	--color-brand-700: var(--brand-700);
	--color-brand-800: var(--brand-800);
	--color-brand-900: var(--brand-900);
	--color-brand-950: var(--brand-950);

	--color-gray-50: var(--gray-50);
	--color-gray-100: var(--gray-100);
	--color-gray-200: var(--gray-200);
	--color-gray-300: var(--gray-300);
	--color-gray-400: var(--gray-400);
	--color-gray-500: var(--gray-500);
	--color-gray-600: var(--gray-600);
	--color-gray-700: var(--gray-700);
	--color-gray-800: var(--gray-800);
	--color-gray-900: var(--gray-900);
	--color-gray-1000: var(--gray-1000);
	--color-gray-1100: var(--gray-1100);
	--color-gray-1200: var(--gray-1200);
	--color-gray-1300: var(--gray-1300);
	--color-gray-1400: var(--gray-1400);
	--color-gray-1500: var(--gray-1500);

	--color-warning-foreground: var(--warning-foreground);
	--color-warning: var(--warning);
	--color-success: var(--success);
	--color-success-secondary: var(--success-secondary);
	--color-success-foreground: var(--success-foreground);
	--color-info-foreground: var(--info-foreground);
	--color-info: var(--info);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);

	--animate-marquee: marquee var(--duration) infinite linear;
	--animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;
}

:root {
	--radius: 0.625rem;

	--background: oklch(1 0 0);
	--foreground: oklch(0.147 0.004 49.25);

	--card: oklch(1 0 0);
	--card-foreground: oklch(0.147 0.004 49.25);

	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.147 0.004 49.25);

	--primary: oklch(0.216 0.006 56.043);
	--primary-foreground: oklch(0.985 0.001 106.423);

	--secondary: var(--gray-1000);
	--secondary-foreground: var(--gray-300);

	--muted: oklch(0.97 0.001 106.424);
	--muted-foreground: oklch(0.553 0.013 58.071);

	--accent: oklch(0.97 0.001 106.424);
	--accent-foreground: oklch(0.216 0.006 56.043);

	--border: oklch(0.923 0.003 48.717);
	--input: var(--gray-100);
	--ring: var(--brand-400);

	--white: oklch(1 0 0);
	--black: oklch(0.1398 0 0);

	/* --brand-50: oklch(0.9747 0.0119 259.82);
	--brand-100: oklch(0.8845 0.056272 274.1607);
	--brand-200: oklch(0.7907 0.1063 276.03);
	--brand-300: oklch(0.6926 0.1631 277.39);
	--brand-400: oklch(0.6001 0.2207 278.29);
	--brand-500: oklch(0.5174 0.2736 276.98);
	--brand-600: oklch(0.4394 0.2527 276.86);
	--brand-700: oklch(0.3501 0.1992 277.06);
	--brand-800: oklch(0.2606 0.1331 276.82);
	--brand-900: oklch(0.1712 0.0749 277.38);
	--brand-950: oklch(0.0824 0.0346 275.68); */

	--brand-50: oklch(0.9755 0.0149 94.2);
	--brand-100: oklch(0.9385 0.0363 95.02);
	--brand-200: oklch(0.8839 0.0705 95.06);
	--brand-300: oklch(0.812 0.1041 92.56);
	--brand-400: oklch(0.7447 0.1216 89.15);
	--brand-500: oklch(0.6787 0.117 85.88);
	--brand-600: oklch(0.6133 0.107 79.55);
	--brand-700: oklch(0.4871 0.0814 73.89);
	--brand-800: oklch(0.4278 0.0664 68.49);
	--brand-900: oklch(0.3889 0.0536 67.27);
	--brand-950: oklch(0.2646 0.0374 63.31);

	--brand-secondary: oklch(0.5739 0.27695 299.6177);
	--brand-secondary-400: oklch(0.6606 0.2265 304.68);

	--gray-50: oklch(0.9854 0.0013 286.38);
	--gray-100: oklch(0.9524 0.0013 286.37);
	--gray-200: oklch(0.9197 0.004 286.32);
	--gray-300: oklch(0.8786 0.0082 293.89);
	--gray-400: oklch(0.8229 0.0084 293.88);
	--gray-500: oklch(0.741 0.01 292.73);
	--gray-600: oklch(0.6471 0.0133 291.14);
	--gray-700: oklch(0.5422 0.0139 291.04);
	--gray-800: oklch(0.4408 0.018 293.99);
	--gray-900: oklch(0.3932 0.0202 293.09);
	--gray-1000: oklch(0.3296 0.0158 290.61);
	--gray-1100: oklch(0.2979 0.0162 290.48);
	--gray-1200: oklch(0.2602 0.013 292.02);
	--gray-1300: oklch(0.2291 0.0115 285.46);
	--gray-1400: oklch(0.1947 0.0101 294.62);
	--gray-1500: oklch(0.1652 0.0062 285.7);

	--destructive: oklch(0.577 0.245 27.325);
	--destructive-foreground: var(--color-red-700);
	--info: var(--color-blue-500);
	--info-foreground: var(--color-blue-700);
	--success: var(--color-green-600);
	--success-secondary: var(--color-green-800);
	--success-foreground: var(--color-green-100);
	--warning: var(--color-amber-500);
	--warning-foreground: var(--color-amber-700);
}

.dark {
	--radius: 0.625rem;

	--background: oklch(0.147 0.004 49.25);
	--foreground: oklch(1 0 0);

	--card-foreground: oklch(1 0 0);
	--card: oklch(0.147 0.004 49.25);

	--popover-foreground: oklch(1 0 0);
	--popover: oklch(0.147 0.004 49.25);

	--primary-foreground: oklch(0.216 0.006 56.043);
	--primary: oklch(0.985 0.001 106.423);

	--secondary-foreground: var(--gray-1000);
	--secondary: var(--gray-300);

	--muted-foreground: oklch(0.97 0.001 106.424);
	--muted: oklch(0.553 0.013 58.071);

	--accent-foreground: oklch(0.97 0.001 106.424);
	--accent: oklch(0.216 0.006 56.043);

	--border: oklch(0.923 0.003 48.717);
	--input: var(--gray-1000);
	--ring: var(--brand-400);

	--white: oklch(1 0 0);
	--black: oklch(0.1398 0 0);

	--brand-950: oklch(0.9747 0.0119 259.82);
	--brand-900: oklch(0.8845 0.056272 274.1607);
	--brand-800: oklch(0.7907 0.1063 276.03);
	--brand-700: oklch(0.6926 0.1631 277.39);
	--brand-600: oklch(0.6001 0.2207 278.29);
	--brand-500: oklch(0.5174 0.2736 276.98);
	--brand-400: oklch(0.4394 0.2527 276.86);
	--brand-300: oklch(0.3501 0.1992 277.06);
	--brand-200: oklch(0.2606 0.1331 276.82);
	--brand-100: oklch(0.1712 0.0749 277.38);
	--brand-50: oklch(0.0824 0.0346 275.68);

	--brand-secondary: oklch(0.5739 0.27695 299.6177);
	--brand-secondary-400: oklch(0.6606 0.2265 304.68);

	--gray-1500: oklch(0.9854 0.0013 286.38);
	--gray-1400: oklch(0.9524 0.0013 286.37);
	--gray-1300: oklch(0.9197 0.004 286.32);
	--gray-1200: oklch(0.8786 0.0082 293.89);
	--gray-1100: oklch(0.8229 0.0084 293.88);
	--gray-1000: oklch(0.741 0.01 292.73);
	--gray-900: oklch(0.6471 0.0133 291.14);
	--gray-800: oklch(0.5422 0.0139 291.04);
	--gray-700: oklch(0.4408 0.018 293.99);
	--gray-600: oklch(0.3932 0.0202 293.09);
	--gray-500: oklch(0.3296 0.0158 290.61);
	--gray-400: oklch(0.2979 0.0162 290.48);
	--gray-300: oklch(0.2602 0.013 292.02);
	--gray-200: oklch(0.2291 0.0115 285.46);
	--gray-100: oklch(0.1947 0.0101 294.62);
	--gray-50: oklch(0.1652 0.0062 285.7);

	--destructive: oklch(0.577 0.245 27.325);
	--destructive-foreground: var(--color-red-700);
	--info: var(--color-blue-500);
	--info-foreground: var(--color-blue-700);
	--success: var(--color-green-600);
	--success-secondary: var(--color-green-800);
	--success-foreground: var(--color-green-100);
	--warning: var(--color-amber-500);
	--warning-foreground: var(--color-amber-700);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}

	h1 {
		@apply tracking-tight;
	}

	.maplibregl-popup-content {
		@apply bg-transparent! shadow-none! p-0! rounded-none!;
	}
	.maplibregl-popup-tip {
		@apply hidden!;
	}
}
